/node_modules/
/lib/
/test/
custom-elements.json
# top level source
mercury-dialog.js
mercury-dialog.js.map
mercury-dialog.d.ts
mercury-dialog.d.ts.map
# only generated for size check
mercury-dialog.bundled.js

/storybook/node_modules/
/storybook-static/
```
